* {
  text-decoration: none;
}

body {
  background-color: rgb(80, 103, 107);
  color: aliceblue;
}

#number {
  color: rgb(210, 231, 18);
  font-size: 50px;
}

.tall {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  border-radius: 20%;
  border-color: rgb(35, 35, 46);
  background-color: rgba(8, 28, 36, 0.404);
  color: white;
  padding: 2px 10px;
  cursor: pointer;
  font-size: 25px;
}

div.conteiner ul {
  display: grid;
  text-align: center;
  justify-content: center;
}

h1 {
  margin: 30px 0 30px 0;
  font-size: 50px;
}

div.conteiner li {
  list-style: none;
  font-size: 40px;
  height: 60px;
  background-color: black;
  margin: 10px;
  width: 600px;
}

div.conteiner li a {
  display: block;
  color: azure;
  background-color: rgb(125, 132, 134);
  height: 100%;
  width: 100%;
}

div.conteiner li a:hover {
  background-color: rgb(57, 45, 64);
}

.title {
  padding: 10px 0px 50px 0px;
}

.main {
  position: static;
  font-size: large;
  text-align: left;
  left: 20px;
  color: rgb(255, 255, 255);
}

.topRight {
  position: fixed;
  right: 10px;
}

button.topRight {
  border-radius: 0;
  background-color: black;
  font-size: 20px;
}

.intro {
  color: azure;
}

div.intro {
  padding: 50px 0;
}

div.intro span,
p {
  font-size: 20px;
}
div.intro img {
  display: flex;
  margin: 20px;
  width: 15%;
}
#cat {
  display: inline;
  margin: 0;
  margin-left: 20px;
}

div.intro ul li {
  background: none;
  margin: 0;
  padding: 0;
  list-style: circle;
  color: azure;
  font-size: 25px;
  width: auto;
  height: auto;
}

#traflys {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(88, 124, 89);
}

#traflys span {
  margin: 20px;
}

#traflys p {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.trafikk {
  background-color: aliceblue;
}

#funpar {
  margin: 10px 0;
}

.ver1 {
  font-size: 30px;
  width: 600px;
  background-color: rgb(20, 154, 164);
  color: rgb(0, 0, 0);
}

.ver2 {
  font-size: 20px;
  width: 400px;
  background-color: blueviolet;
  color: rgb(80, 255, 170);
}

#tastaoutput {
  font-size: 30px;
  width: 90%;
  height: 100px;
  margin: 5%;
}

.tastarow {
  display: flex;
  width: 100%;
  margin: 10px;
  justify-content: center;
  align-items: center;
}

.tastarow button {
  margin: 0 10px;
}

#space {
  width: 200px;
  margin: 10px;
}

#clear {
  position: fixed;
  right: 10px;
  top: 20px;
}

#lysp {
  margin-top: 20px;
  width: 500px;
  height: 500px;
  background-color: gray;
}

#lights {
  position: fixed;
  right: 100px;
  top: 280px;
}

#kroko {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: aliceblue;
  font-size: 30px;
}
#kroko img {
  height: 200px;
  width: 170px;
}
#play {
  left: 7px;
  width: 195px;
}

.hide {
  display: none;
}
